body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	display: flex;
	justify-content: end;

	width: 100vw;
	margin: 10px;
	margin-right: 20vw;

	font-size: 20px;
}

header div {
	display: flex;
	gap: 20px;
}

header div a {
	color: white;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	transition: 100ms ease-in-out;
	border-radius: 3px;
}

header div a:hover {
	background-color: rgba(160, 160, 160, 0.116);
}

main {
	margin-top: 10vh;
	text-align: center;
}

section {
	margin-top: 5vh;
	padding: 10px;
	width: 80vh;
	border: 2px solid white;
	border-radius: 3px;
}

section h3 {
	text-align: center;
}

main h2 a {
	color: rgb(113, 30, 190);
	transition: 100ms ease-in-out;
}

main h2 a:hover {
	color: blue;
}

span {
	color: rgb(113, 30, 190);
}