body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	display: flex;
	justify-content: end;

	width: 100vw;
	margin: 10px;
	margin-right: 20vw;

	font-size: 20px;
}

header div {
	display: flex;
	gap: 20px;
}

header div a {
	color: white;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	transition: 100ms ease-in-out;
	border-radius: 3px;
	text-align: center;
}

header div a:hover {
	background-color: rgba(160, 160, 160, 0.116);
}

main {
	margin-top: 10vh;
	text-align: center;
}

section {
	margin-top: 5vh;
	padding: 10px;
	width: 80vh;
}

section h3 {
	text-align: center;
}

main h2 a {
	color: rgb(113, 30, 190);
	transition: 100ms ease-in-out;
}

main h2 a:hover {
	color: blue;
}

span {
	color: rgb(113, 30, 190);
}

#post-message-btn {
	color: white;
	background-color: rgb(94, 29, 155);
}

#post-message-btn:hover {
	background-color: rgb(110, 37, 179);
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 35px;
}

ul li {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

ul li div {
	display: flex;
	flex-direction: column;
}

ul li fieldset {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	min-width: 10px;
}

ul li fieldset legend {
	font-size: 25px;
	font-weight: bold;
}

#msg {
	overflow-wrap: break-word;
}

@media (max-width: 795px) {
	ul li fieldset {
		margin: 0 25% 0 25%;
	}

	main {
		margin-top: 3vh;
	}

	main h2 {
		overflow-wrap: break-word;
		font-size: 14px;
	}

	header {
		display: flex;
		justify-content: center;
	
		margin: 5% 30% 0 30%;
	
		font-size: 20px;
	}

	section {
		margin-top: 2vh;
	}
}

