<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Be a member!</title>
	</head>
	<body>
		<h1>Type 'member' to be a membership!</h1>
		<form method="POST">
			<input type="text" name="member" placeholder="Type 'member'" />
			<button>Become a member!</button>
		</form>
	</body>
</html>

