<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Post a message</title>
	</head>
	<body>
		<h1>Post a message</h1>
		<form method="POST">
			<div>
				<label for="title">Title</label>
				<input type="text" name="title" placeholder="Title" />
			</div>

			<div>
				<label for="message">Message</label>
				<textarea
					name="message"
					id="name"
					placeholder="Once upon a time..."
					cols="150"
					rows="5"
				></textarea>
			</div>

			<button>Post</button>
		</form>
	</body>
</html>

